*
{
    font-family: Ubuntu, "Comic Sans MS", cursive, sans-serif;
    color: #cccccc;
    border-radius: 5px;
    border-color: #aaaaaa;
}

body
{
    position: relative;
    background-image:
    -webkit-linear-gradient(left top, #151515, #cccccc);
    -moz-linear-gradient(left top, #151515, white);
    -ms-linear-gradient(left top, #151515, white);
    -o-linear-gradient(left top, #151515, white);
    linear-gradient(left top, #151515, white);
}


/* GENERAL STYLE */

/* clickable elements: hover */
li,
li>a,
select,
button,
input[type=file]
     {
	 color: #444444;
	 background-color: #BDFF7D;
	 background-image:
	 -webkit-linear-gradient(top, #8AE62E, #E0FFC2);
	 -moz-linear-gradient(top, #8AE62E, #E0FFC2);
	 -ms-linear-gradient(top, #8AE62E, #E0FFC2);
	 -o-linear-gradient(top, #8AE62E, #E0FFC2);
	 linear-gradient(top, #8AE62E, #E0FFC2);
     }

/* clickable elements: hover */
select:hover,
button:hover,
input[type=file]:hover
     {
	 background-color: #99FF33;
	 background-image: -webkit-linear-gradient(top, #6BB224, #E0FFC2);
	 border-color: white;
     }

/* links */
a
{
    text-decoration:none;
    font-style: oblique;
}



/* headings */
h1, h2, h3, h4, h5, h6 {   color: #8AE62E; }


/*Input font-type*/
textarea,
input[type=text]
     {
	 font-family: Ubuntu;
	 background-color: #151515;
	 background-image:
	 -webkit-linear-gradient(right top, #151515, #333333);
	 -moz-linear-gradient(right top, #151515, #333333);
	 -ms-linear-gradient(right top, #151515, #333333);
	 -o-linear-gradient(right top, #151515, #333333);
	 linear-gradient(right top, #151515, #333333);
     }


/* INDIVIDUAL SETTINGS FOR THE CONTAINERS */

/* display-style of input elements */
/* .input, */
/* #input, */
/* #button_go, */
/* #button_load, */
/* #more */
/*     { */
/* 	display: block; */
/*     } */


/* footer lines */
footer
{
    display: block;
    float: right;
}

address,
time,
footer
    {
	color: #333333;
	font-style: italic;
    }


/* header on top */
header
{
    position: relative; top: 1em; left: 60%;
}


/* NAVIGATION on the left */
nav
{
    position:fixed; left: 1em; top: 10%;
    width: 15%;
    overflow: auto;
}
 /* alignment of the rest next to navigation */
#input, #output, #vocab_container, #about, article
{
    margin-left: 20%;
}

/*list elements*/
ul
{
    text-align: left;
    list-style: none;
    padding: 0; margin: 0em;
    width: 90%;
}

li
{
    display: block;
    width: 80%; height: auto;
    padding: 0.2em 0 0.2em 1.5em; margin: 1px;
    border-width: 1px;
    border-style: solid; 
}

/* other elements in nav */
nav>div
{
    margin-top: 1em;
}

nav>div>div
{
    display: inline-block;
}


/* INPUT */
#txt_input, #file_input
{
    display: block;
    margin-bottom: 2em;
}




/* OUTPUT */
#output
{
    font-size: 110%;
    padding: 0.5em;
}

#more
{
    color: #6BB224;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 2em;
}
#more:hover {  color: #8AE62E;  transition:  color 0.2s linear; }

#button_add, #button_reset { margin-right: 2em; }


.transl
{
    position: absolute;
    background-color: yellow; z-index: 10;
    border-color: blue; border-style: solid;
    width: auto; height:5cm;
    overflow: scroll;
}

.word,
.word_div
{
    position: relative;
    display: inline-block;
    margin: 0em;
}

.word_div:hover
{
    border-radius: 0.5em;
    background-color: green;
}

#txtin
{
    width: 60%; height: 1.5em;
    margin-top: 1em;
    padding: 0.5em;
    transition: height 0.5s ease;
}

#txtin:hover, #txtin:focus
	   {
	       height: 10em;
	   }

.transl>div
{
    height: 7em;
    overflow: inherit;
    font-size: 110%;
}





/* VOCABULARY */
#vocab_container { display: block; margin-bottom: 5em;}
.voc_div>span 
{
    float:left;
    border-top-style: solid;
    border-radius: 0;
    border-color: #999999;
}
.voc_div>span:last-of-type
		  {
		      width:70%;   
		  }
.voc_div>span:first-of-type
		  {
		      width:20%;
		  }



