body
{
    font-family:  Times;
}

div>div>div>div
{
    visibility:visible;
    background-color: blue;
    width: 3cm; height: 2cm;
}

div>div>div
{display: inline-block;}

span, div
{
    margin: 0;
}

span
{
        display: inline-block;
}