body
{
    font-family:  Times;
}

.transl
{
    position: absolute; left: 1.5em;
    border-color: blue; border-style: solid;
    width: 4cm; height:4em;
}

.word_div
{
    position: relative;
    display: inline-block;
}

.word, .word_div
{
    margin: 0;
}

.word
{
    position: relative;
    display: inline-block;
}

.word:hover
{
    border-radius: 0.5em;
    background-color: green;
}

textarea
{
    width:80%; height:10em;
}